@import url("https://fonts.googleapis.com/css2?family=Inter");

.App {
  font-family: "Inter", sans-serif;
}

footer {
  margin-bottom: 0;
}

header h1,
header h2,
section p,
footer p {
   margin: 0;
}

header,
footer, 
section {
   overflow: auto;
}