body {
}

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.content-container {
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Add margin on both sides */
}

.left-aligned {
  text-align: left;
  max-width: 600px; /* Limit the width for better readability */
  width: 100%;
  margin-left: 300px;
}

.App-header {
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.resume-download {
  margin-top: 20px;
}

a {
  color: #c6cc88;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.recently-section {
  margin-top: 40px;
  position: relative;
}

.recently-heading {
  position: relative;
  display: inline-block;
}

.recently-hr {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  border: 0;
  height: 1px;
  width: 80vh; /* Adjust the length of the lines as needed */
  background-color: #868686;
  margin-right: 10px; /* Adjust the distance between the heading and the lines */
}

.recently-list {
  padding: 20px;
  color: #dbdbdb; /* Light grey color for the bullet points */
}

.recently-list li {
  margin-bottom: 8px;
}

.projects-section {
  margin-top: 20px;
  position: relative;
}

.project-item {
  margin-top: 20px;
}

.project-tag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 13px;
  background-color: #77a2c4;
  color: #fff;
  border-radius: 15px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.project-mini-tag {
  background-color: #6ec0c3; /* Adjust the color for mini projects */
}

.project-year {
  color: #777;
}

.view-project-link {
  display: block;
  color: #69afd2; /* Adjust the color as needed */
  text-decoration: none;
  margin-top: 8px;
}

.projects-hr {
  position: absolute;
  top: 5%;
  left: 70px;
  transform: translateY(-50%);
  border: 0;
  height: 1px;
  width: 80vh; /* Adjust the length of the lines as needed */
  background-color: #868686;
  margin-right: 10px;  /* Adjust the distance between the heading and the lines */
}

.resume-download {
  color: #69afd2;
}

.spacer-hr {
  background-color: #868686;
  border: 0;
  height: 1px;
  margin-top: 40px;
  width: 92vh; /* Adjust the length of the lines as needed */
}


.footer { 
color: rgb(170, 170, 170);
text-align: center;
margin-top: 10px;
}

.footer-columns {
display: flex;
justify-content: space-between;
}

.footer-column1 {
flex-basis: 38%; /* Adjust the width of each column as needed */
}

@media only screen and (max-width: 1000px) {
  .left-aligned {
    margin-left: 100px;
  }

  .footer-columns {
    flex-direction: row; /* Stack columns in a vertical layout */
    text-align: center;
  }

  .footer-column1 {
    flex-basis: 40%; /* Take up full width on small screens */
  }
}

/* Responsive styles for tablets (up to 768px) */
@media only screen and (max-width: 768px) {
  .left-aligned {
    margin-left: 0;
  }

  .footer-columns {
    flex-direction: row; /* Stack columns in a vertical layout */
    text-align: center;
  }

  .footer-column1 {
    flex-basis: 40%; /* Take up full width on small screens */
  }
}

/* Responsive styles for mobile devices (up to 480px) */
@media only screen and (max-width: 480px) {
  .content-container {
    padding: 0 10px; /* Reduce padding on small screens */
  }

  .left-aligned {
    margin-left: 0;
  }

  .recently-hr,
  .projects-hr,
  .spacer-hr {
    width: 100%; /* Full width horizontal lines on small screens */
    left: 0;
    margin-right: 0;
  }

  .recently-list,
  .projects-section,
  .project-item {
    margin-top: 10px; /* Adjust spacing for small screens */
  }

  .footer-columns {
    flex-direction: row; /* Stack columns in a vertical layout */
  }

  .footer-column1 {
    flex-basis: 100%; /* Take up full width on small screens */
  }
}