/* In your Global.css file */

/* ==========================================================================
   2. MAIN APP LAYOUT (Definitive Version)
   ========================================================================== */

.portfolio-container {
  display: grid;
  /* This rule looks for the 3 direct children in App.js and arranges them */
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.app-body {
  display: grid;
  grid-template-columns: 350px 1fr;
  overflow: hidden;
}

.main-content {
  overflow-y: auto;
  padding-bottom: 90px;

}

.sidebar-container {
  overflow-y: auto;
  padding-bottom: 95px;

}